/* Home & Planning*/
body{
    background-color: white;
}

nav a {
    font-size: 18px;
}

.navbar-brand{
    font-size: 30px;
}

*{
    font-family: 'Advent Pro', sans-serif;

}
.btn-reserv{
    color: #fff;
    background-color: #82E0AA;
}

@media only screen and (max-width: 1000px) {
    .table100.ver2 th{
        font-size: 15px;
    }
    .table100.ver2 td{
        font-size: 13px;
    }
    .btn-reserv{
        font-size: 10px;
    }
}